.search-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

input {
  height: 35px;
  margin-right: 5px;
}

input,
input:focus {
  -webkit-text-size-adjust: none;
}

.suggestion-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  max-width: 66%;
  min-height: 100px;
  justify-content: center;
  margin-top: 10px;
  gap: 5px 5px;
}
