.search-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: -2px;
  z-index: 1;
  background-color: #333333;
  border-top: none;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 5px;
}

.dropdown-content p {
  padding: 10px;
  margin: 0;
  cursor: pointer;
  color: white;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

.dropdown-content p:hover {
  background-color: #1c1b1b;
  border: 1px solid #535bf2;
}

input {
  height: 35px;
  margin-right: 5px;
}
