.incorrect-modal {
  font-family: "futura";
  background-color: #1f1c1c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 33%;
  border-radius: 10px;
  color: white;
  position: absolute;
  top: 40%;
  z-index: 100;
  border: 2px solid #6d74f2;
}

.incorrect-modal button {
  background-color: white;
  color: black;
}

@media screen and (max-width: 768px) {
  .winner-text p {
    font-size: 10px;
  }
  .winner-text h1 {
    font-size: 10px;
  }

  .game-over p {
    font-size: 10px; /* Adjust font size for smaller screens */
  }

  .game-over h1 {
    font-size: 10px; /* Adjust font size for smaller screens */
  }
}
