#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.remaining-lives {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.remaining-lives article {
  font-family: "futura";
  font-size: 25px;
  background-color: #1a1a1a;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: "lemon jelly";
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
